.routeContent{
  flex: 1;
}
.navBar{
  display: flex;
  align-items: center;
  justify-content: center;
  .navbar{
    flex: 1;
  }
}
.am-tab-bar {
  .commonIcon{
    width: 20px;
    height: 20px;
  }
  .iconHome {
    background: url('../../assets/img/home/zhuye.svg') no-repeat center;
    background-size: contain;
  }

  .iconHomeSelect {
    background: url('../../assets/img/home/zhuyeSelect.svg') no-repeat center;
    background-size: contain;
  }
  .iconFaxian{
    background: url('../../assets/img/home/faxian.svg') no-repeat center;
    background-size: contain;
  }
  .iconFaxianSelect{
    background: url('../../assets/img/home/faxianSelect.svg') no-repeat center;
    background-size: contain;
  }
  .iconJilu{
    background: url('../../assets/img/home/lianluojilu.svg') no-repeat center;
    background-size: contain;
  }
  .iconJiluSelect{
    background: url('../../assets/img/home/lianluojiluSelect.svg') no-repeat center;
    background-size: contain;
  }
  .iconPerson{
    background: url('../../assets/img/home/gerenzhanghuguanli.svg') no-repeat center;
    background-size: contain;
  }
  .iconPersonSelect{
    background: url('../../assets/img/home/gerenzhanghuguanliSelect.svg') no-repeat center;
    background-size: contain;
  }

}
