.am-tab-bar {
  .commonIcon{
    width: 20px;
    height: 20px;
  }
  .iconHome {
    background: url('../../assets/img/home/zhuye.svg') no-repeat center;
    background-size: contain;
  }

  .iconHomeSelect {
    background: url('../../assets/img/home/zhuyeSelect.svg') no-repeat center;
    background-size: contain;
  }
  .iconFaxian{
    background: url('../../assets/img/home/zhuyeSelect.svg') no-repeat center;
    background-size: contain;
  }

}
